.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:10px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.title {
    color:rgb(109,109,209);
    font-size: 15px;
}


a {
    text-decoration: none;
    font-size: 10px;
    color: red;
}

button:hover, a:hover {
    opacity: 0.7;
}

.card img{
    padding: 5px;
}

.card label{
    color:rgb(109,109,209);
}